.person {
    background-color: #fff;
    display: flex;
    margin-top: 24px;
    padding-right: 80px;
    gap: 12px;
    font-size: 14px;
    line-height: 143%;
  }
  @media (max-width: 991px) {
    .person {
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  .checkbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
  }
  .checkbox {
    border-radius: 6px;
    border: 1px solid #a3b2c7;
    height: 18px;
    width: 18px;
    display: inline-block;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .avatar {
    aspect-ratio: 1;
    object-fit: cover;
    width: 44px;
    box-shadow: 0 8.8px 22px 0 rgba(66, 71, 97, 0.2);
  }
  .person-info {
    display: flex;
    flex-direction: column;
  }
  .person-name {
    color: #333f4e;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }
  .person-email {
    color: #a3b2c7;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin-top: 4px;
  }